<a href="https://colab.research.google.com/github/johnfred-delossantos/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Class

In [ ]:
class MyClass:
  pass

In [ ]:
class OOP1_2:
  X = 5
  print(X)

5

Create Objects

In [ ]:
class OOP1_2:
  def __init__(self, name, age):  #__init__(parameter)
    self.name = name        #attributes
    self.age = age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("John Fred", 19) #create objects

print(person.name, person.age)
print(person.age)
print(person.identity)

John Fred 19
19
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7fb4bc5ea690>>

In [ ]:
#Modify the Object Name

person.name = "Fred"
print(person.name)
print(person.age)

Fred
19

In [ ]:
person.age = 20
print(person.name)
print(person.age)

Fred
20

In [ ]:
#Delete the Object

del person.name

In [ ]:
print(person.name)

AttributeError: ignored

In [ ]:
print(person.age)

20

Application 1 - Write a Python program that computes the area of a square, and name its class as Square, sides as attributes

In [ ]:
class Square:
  def __init__(self, sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides  #formula to compute the area of square

  def display(self):
    print("The area of the square is:", self.area())

square = Square(4)

print(square.sides)
square.display()

4
The area of the square is: 16

Application 2 - Write a Python program that displays your full name, age, course, and school. Create a class named MyClass and name, age, course, and school, as attributes

In [2]:
class MyClass:
  def __init__(self, name, age, course, school):
    self.name = name
    self.age = age
    self.course = course
    self.school = school

  def identity(self):
    print(self.name, self.age, self.course, self.school)

student = MyClass("John Fred B. Delos Santos", 19, "Bachelor of Science in Computer Engineering", "Cavite State University - Main Campus")

print(f'Name: {student.name}')
print(f'Name: {student.age}')
print(f'Name: {student.course}')
print(f'Name: {student.school}')
print(f'My name is {student.name} and I am {student.age} years old. I am currently pursuing {student.course} in {student.school}.')

Name: John Fred B. Delos Santos
Name: 19
Name: Bachelor of Science in Computer Engineering
Name: Cavite State University - Main Campus
My name is John Fred B. Delos Santos and I am 19 years old. I am currently pursuing Bachelor of Science in Computer Engineering in Cavite State University - Main Campus.